// Body
$body-bg: url('https://media.istockphoto.com/id/514841736/photo/modern-car-instrument-dashboard-panel-in-night-time.jpg?s=612x612&w=0&k=20&c=WD8siPEpXBkCBBVq8yrO0mv7xpzHKGHjWM09Vv_9avk=');


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
